{% extends 'base.html.twig' %}

{% block title %}Tracker!{% endblock %}

{% block body %}
<style>
    .wrapper { 
        margin: 1em auto; max-width: 800px; width: 95%; 
        font: 18px/1.5 sans-serif; 
        color: white;
    }
</style>

<div class="wrapper">
    <h1>Tracker! ✅</h1>
</div>
{% endblock %}
